.anime {
  display: flex;
}

.coverImage {
  display: block;
  width: 120px;
  height: auto;
}

.titles {
  margin-top: 0.25em;
  margin-left: 1em;
}

.title {
  color: #1a1a1a;

  &.native {
    color: #888;
  }
}
